<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=cl_image_path @venue.photos[0].key %>)">
  <h2><%= @venue.name %></h2>
  <p><%= @venue.description%></p>
  <p>Event.raitings goes here</p>
</div>

<br>

<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>
</div>

<%= simple_form_for [ @venue, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Share the information~" %>
  <%= f.submit "Submit" %>
<% end %>
